/* Section: About Us */
#about-us {
  background-color: #f0f0f0; /* Fondo gris claro */
 
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-us-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff; /* Fondo blanco */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-us-text {
  flex: 1;
  padding: 2rem;
  background: linear-gradient(135deg, rgba(31, 31, 31, 0.9), rgba(255, 255, 255, 0.1)),
    url('ruta/a/la/imagen.jpg'); /* Gradiente y fondo de imagen */
  background-size: cover;
  background-blend-mode: overlay; /* Difuminado */
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  color: #fff;
}

.about-us-text h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #fff;
}

.about-us-text p {
  font-size: 1.1rem;
  line-height: 1.6;
}

.about-us-image {
  flex: 1;
  background-color: #1f1f1f; /* Fondo gris oscuro */
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}

.about-us-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

@media (max-width: 768px) {
  .about-us-container {
    flex-direction: column;
  }

  .about-us-text,
  .about-us-image {
    border-radius: 8px;
  }
}