/* src/components/Card.css */
.card {
  background-color: var(--background-color);
  border-radius: 8px;
  padding: 20px;
  max-width: 1200px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.card__image {
  border-radius: 8px;
  margin-bottom: 20px;
  flex: 1;
}

.card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 2;
}

.card__title {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.card__description {
  font-size: 1rem;
  margin-bottom: 20px;
  color: var(--muted-text-color);
}