/* Estilos del encabezado */
.header {
  background-image: radial-gradient(circle at center, var(--white-color), var(--primary-color));
 
  color: var(--text-color);
  padding: 1rem 2rem;
  text-align: center;
  position: relative;
  z-index: 2000;
}

.header__logo img {
  max-width: 200px;
  transition: transform 0.3s ease;
}

.header__logo img:hover {
  transform: scale(1.2);
}

.header h1 {
  padding: 2rem 0;
  font-size: 2rem;
}

@media (max-width: 768px) {
  .header h1 {
    font-size: 1.5rem;
  }

  .header__logo img {
    max-width: 150px;
  }
}