/* Navbar styles */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.7); /* Fondo oscuro y semi-transparente */
  color: white;
}

.navbar.scrolled {
  background: rgba(0, 0, 0, 0.9); /* Fondo más oscuro cuando se hace scroll */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

.navbar .logo img {
  max-width: 100px; /* Ajusta el tamaño del logo según tus necesidades */
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  font-size: 1rem;
  color: white;
  margin-left: 20px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.nav-links a:hover {
  color: #0eade7; /* Color de acento */
  transform: scale(1.05); /* Efecto de zoom en hover */
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger div {
  width: 20px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.nav-links.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 10px 0;
  transition: top 0.3s ease;
  z-index: 999;
}

.nav-links.active a {
  margin: 10px 20px;
  color: white;
}

.nav-links.active .hamburger div:first-child {
  transform: translateY(8px) rotate(45deg);
}

.nav-links.active .hamburger div:nth-child(2) {
  opacity: 0;
}

.nav-links.active .hamburger div:last-child {
  transform: translateY(-8px) rotate(-45deg);
}

@media (max-width: 768px) {
  .navbar {
    padding: 10px 20px;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 10px 0;
    transition: top 0.3s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada en móviles */
  }

  .nav-links.active {
    display: flex;
    top: 70px;
  }

  .hamburger {
    display: flex;
  }
}

@media (min-width: 769px) {
  .navbar h1 {
    font-size: 1.5rem; /* Ajusta el tamaño del h1 según tus necesidades */
  }

  .nav-links {
    margin-left: auto; /* Mueve los enlaces a la derecha */
  }
}

/* Agregar margen superior al contenido principal */
.content {
  margin-top: 151px; /* Ajusta según el alto del navbar y el espaciado deseado */
}
