/* src/components/ServiceCard.css */
.service-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 80px; /* Ajusta este valor según la altura de tu Navbar */
}

.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.carousel__button--prev {
  left: 10px;
}

.carousel__button--next {
  right: 10px;
}

.service-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  text-align: center;
}

.service-card-img {
  width: 66%;
  height: auto;
  border-radius: 8px;
}

.service-card-content {
  padding: 20px;
}

.service-card-title {
  margin-bottom: 10px;
}

.service-card-actions {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.whatsapp-icon {
  width: 30px;
  height: 30px;
}
