.image-with-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.video-container {
  max-width: 100%;
  overflow: hidden; /* Oculta las partes del video que se salen del contenedor */
}

.video-container video {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .image-with-carousel {
    flex-direction: column;
  }
}
